<div class="panel panel-default">
    <div class="panel-heading">Field Options</div>
    <div class="panel-body">
        <dl class="dl-horizontal">
          <dt><label for="display-title-options">Title</label></dt>
          <dd><input id="display-title-options" type="checkbox" ng-model="display.title"/></dd>
        </dl>
        <dl class="dl-horizontal">
          <dt><label for="display-visits-options">Visits</label></dt>
          <dd><input id="display-visits-options" type="checkbox" ng-model="display.visits"/></dd>
        </dl>
        <dl class="dl-horizontal">
          <dt><label for="display-description-options">Description</label></dt>
          <dd><input id="display-description-options" type="checkbox" ng-model="display.description"/></dd>
        </dl>
        <dl class="dl-horizontal">
          <dt><label for="display-tags-options">Tags</label></dt>
          <dd><input id="display-tags-options" type="checkbox" ng-model="display.tags"/></dd>
        </dl>
        <dl class="dl-horizontal">
          <dt><label for="display-sharing-options">Sharing</label></dt>
          <dd><input id="display-sharing-options" type="checkbox" ng-model="display.shares"/></dd>
        </dl>
        <dl class="dl-horizontal">
          <dt><label for="display-owner-options">Owner</label></dt>
          <dd><input id="display-owner-options" type="checkbox" ng-model="display.owner"/></dd>
        </dl>
        <dl class="dl-horizontal">
          <dt><label for="display-updated-options">Created/Updated Time</label></dt>
          <dd><input id="display-updated-options" type="checkbox" ng-model="display.updated"/></dd>
        </dl>
        <button class="btn btn-defualt btn-block" ng-click="resetDisplay()"><i class="fa fa-undo"> Reset Fields</i></button>
    </div>
</div>