<div ng-include="'partials/navbar'"></div>

<div class="jumbotron text-center">
    <h1>
        <i class="fa fa-bookmark-o"></i> Bookmarks
    </h1>
    <p class="lead">Best way to manage your bookmarks!</p>
    <p>
        <a ng-hide="currentUser" class="btn btn-primary btn-lg" href="/login">Login</a>
        <a ng-hide="currentUser" class="" href="/signup"><small>Sign up</small></a>
        <span ng-show="currentUser">Welcome: {{currentUser.name}}</span>
        <br/>
        <a ng-show="currentUser" class="btn btn-primary btn-lg" href="/app">View Bookmarks!</a>
    </p>

    <p class="version "><small>Currently v2.0</small></p>
</div>
