

<nav class="navbar navbar-default" role="navigation" ng-controller="NavbarCtrl">
  <ul class="nav navbar-nav">
    <li ng-hide="currentUser" ng-class="{active: isActive('/login')}"><a class="" href="/login">Login</a></li>
    <li ng-hide="currentUser" ng-class="{active: isActive('/signup')}"><a class="" href="/signup">Sign up</a></li>
    <li ng-show="currentUser" ng-class="{active: isActive('/app')}"><a class="" href="/app">App</a></li>
    <li ng-show="currentUser" ng-class="{active: isActive('/settings')}"><a class="" href="/settings">Settings</a></li>
    <li ng-show="currentUser" ng-class="{active: isActive('/logout')}"><a class="" href="" ng-click="logout()">Logout</a></li>
  </ul>
</nav>